<div class="row">
    <div class="col-md-12">
        <label for="">Server Name</label>
        <input [(ngModel)]='serverName' type="text" class="form-control">
        <label for="">Server Content</label>
        <input [(ngModel)]="serverContent" class="form-control" type="text" name="" id="">
        <button class="btn btn-primary mr-3 mt-4" (click)="onServerAdded()">Add Server</button>
        <button class="btn btn-primary mr-3 mt-4" (click)="onBlueprintAdded()">Add Blueprint</button>
    </div>
</div>
<hr>