<div class="container">
    <div class="row">
      <!--use appPlaceholder directive-->
      <ng-template appPlaceholder></ng-template>
...
      <div class="col-md-8 offset-md-2">
        <h3 class="text-center">{{ isLoginMode ? "Login" : "Signup" }}</h3>
        <form #authForm="ngForm" (ngSubmit)="submitAuthForm(authForm.value)">
          <div class="form-group">
            <label for="email">E-Mail</label>
            <input
              ngModel
              type="email"
              id="email"
              name="email"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
              ngModel
            />
          </div>
          <div>
            <button class="btn btn-primary">
              {{ isLoginMode ? "Login" : "Signup" }}
            </button>
          </div>
        </form>
        <button class="btn btn-primary mt-2" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? "Signup" : "Login" }}
        </button>
        <!--if we use dynamic component comment out app-alert selector-->
        <!-- <app-alert *ngIf="errorMessage"
        [message]="errorMessage"
        (close)="onHandleError()">
        </app-alert> -->
      </div>
    </div>
  </div>
