<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{message}}</h1>
            <hr><br>
            <app-creator (serverCreated)="onServerAdded($event)"
            (blueprintCreated)="onBlueprintAdded($event)"></app-creator>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
          <button class="btn btn-danger" (click)="destroyFirst()">
            Delete first element
          </button>
          <div app-servers></div>
        </div>
    </div>
</div>