<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>About us</h1>
        <p>
          Ullamco voluptate sit et velit eiusmod laborum sint. Ipsum adipisicing
          eiusmod dolor amet voluptate fugiat anim consectetur reprehenderit. Anim
          nostrud occaecat reprehenderit ullamco sit veniam nulla sit excepteur.
          Enim sit duis voluptate voluptate veniam. Fugiat culpa et amet in. Nisi
          enim occaecat excepteur excepteur et minim fugiat ea duis nulla eiusmod
          commodo velit. Adipisicing elit tempor veniam fugiat.
        </p>
      </div>
    </div>
  </div>